 .heading1{ color: #7669e3}
.heading2{color: #18e099;}
.emobilis{
    background-color: lawngreen;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-left: 30px;




}
.mytest{

    display: flex;
    background-color: #8a9fde;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.p1{

    margin-left: 40px;
}
.main{

    display: flex;
}
.paragraph2{

    background-color: #8a9fde;
}
.paragraph1{

    background-color: lawngreen;
}
.paragraph3{ background-color: darkmagenta}
.paragraph4{
    background-color: brown;
}

